# Unit 2 - Reading files and basic selection and description
---

1. [Reading files](#section2)
2. [Selecting data](#section3)
3. [Describe the data](#section4)

<a id='section1'></a>

## 1. Reading files
---

<div>
<img src="https://github.com/nlihin/data-analytics/blob/main/images/reading.PNG?raw=true" width="400"/>
</div>


We will read the whole file at once using Pandas.
Sometimes you might want to read the file line by line, and process each line. Thats possible of course. See for example [here.](https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/)

We will read data on [COVID-19 vaccinations](https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations)

In order to do that, I retrieved the raw data's url

Press on raw either here:

<div>
<img src="https://github.com/nlihin/data-analytics/blob/main/images/raw.png?raw=true" width="800"/>
</div>

or here:

<div>
<img src="https://github.com/nlihin/data-analytics/blob/main/images/unit1_raw2.jpg?raw=true" width="800"/>
</div>

and retrieve the link:

<div>
<img src="https://github.com/nlihin/data-analytics/blob/main/images/unit1_raw3.jpg?raw=true" width="800"/>
</div>

In [ ]:
import pandas as pd

In [14]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

In [15]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003

read_csv has about 30 different options. See the 
[documentation](https://pandas.pydata.org/pandasdocs/stable/reference/api/pandas.read_csv.html#pandas.read_csv)

For example, sep='\t' is used for tab delimited files and 'usecol' reads only specific columns.

### Basic information

In [16]:
type(vacc_df)

pandas.core.frame.DataFrame

view the shape of the dataframe:

In [17]:
vacc_df.shape

(186010, 16)

view basic information:

In [18]:
vacc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186010 entries, 0 to 186009
Data columns (total 16 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   location                             186010 non-null  object
 1   iso_code                             186010 non-null  object
 2   date                                 186010 non-null  object
 3   total_vaccinations                   80453 non-null   float64
 4   people_vaccinated                    77000 non-null   float64
 5   people_fully_vaccinated              73709 non-null   float64
 6   total_boosters                       48628 non-null   float64
 7   daily_vaccinations_raw               66410 non-null   float64
 8   daily_vaccinations                   184572 non-null  float64
 9   total_vaccinations_per_hundred       80453 non-null   float64
 10  people_vaccinated_per_hundred        77000 non-null   float64
 11  people_fully_vaccinated_per_hundred  73709 non-null   float64
 12  total_boosters_per_hundred           48628 non-null   float64
 13  daily_vaccinations_per_million       184572 non-null  float64
 14  daily_people_vaccinated              184303 non-null  float64
 15  daily_people_vaccinated_per_hundred  184303 non-null  float64
dtypes: float64(13), object(3)
memory usage: 22.7+ MB

In [19]:
vacc_df.columns

Index(['location', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'daily_vaccinations_per_million', 'daily_people_vaccinated',
       'daily_people_vaccinated_per_hundred'],
      dtype='object')

We can view unique values:

In [20]:
vacc_df['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Macedonia', 'Northern Cyprus',
       'Northern Ireland', 'Norway', 'Oceania', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Upper middle income', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

View the first few rows:

In [10]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003

### <span style="color:blue"> Exercise:</span>
 >What do you think that the 'tail' command does? Try it out!
>
>What happens if we just type vacc_df, without a head or a tail?

---
A summary of the functions so far:

>* `pd.read_csv` - Read data from a CSV file into a Pandas `DataFrame` object
>* `.info()` - View basic infomation about rows, columns & data types
>* `.columns` - Get the list of column names
>* `.shape` - Get the number of rows & columns as a tuple
>* `.head()`, `.tail()` - View the beginning/end of the file
>* `.unique()` - view the unique entries in a series (not a dataframe) object

<a id='section3'></a>

---
## 2. Selecting data

In [11]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003

#### Selecting a single column:

**return a single column as a series:**

In [21]:
vacc_df.location

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
186005       Zimbabwe
186006       Zimbabwe
186007       Zimbabwe
186008       Zimbabwe
186009       Zimbabwe
Name: location, Length: 186010, dtype: object

In [13]:
vacc_df["location"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
173394       Zimbabwe
173395       Zimbabwe
173396       Zimbabwe
173397       Zimbabwe
173398       Zimbabwe
Name: location, Length: 173399, dtype: object

note: using the `.` notation is possible only for columns whose names do not contain spaces or special characters.

**return a single column as a dataframe:**

In [14]:
vacc_df[['location']]

           location
0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
...             ...
173394     Zimbabwe
173395     Zimbabwe
173396     Zimbabwe
173397     Zimbabwe
173398     Zimbabwe

[173399 rows x 1 columns]

#### Selecting a few columns

In [15]:
vacc_df[['location','date']].head()

      location        date
0  Afghanistan  2021-02-22
1  Afghanistan  2021-02-23
2  Afghanistan  2021-02-24
3  Afghanistan  2021-02-25
4  Afghanistan  2021-02-26

#### Select a specific cell:

In [16]:
vacc_df.location[70000]

'Hungary'

---
### <span style="color:blue"> Exercise:</span>
> Now you:
>
> (1) Select the `iso_code` column from the `vacc_df` dataframe
>
> (2) Select only the `iso_code` at index 3
>
> (3) What is the difference between `vacc_df[['location']]` and `vacc_df['location']` and `vacc_df.location` ?  Use `type` to find out

---

### Seletcting subsets of rows and columns

One way to do that is iloc. 

`.iloc` - selects subsets of rows and columns by integer location only

In [17]:
#vacc_df.iloc[[70000]]  #first row as a series
#vacc_df.iloc[[5,50,50000]]  #first row as a dataframe
#vacc_df.iloc[-1] #last row as a series
vacc_df.iloc[1:5,] #last row as a dataframe

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003

The : operator 

 - when used alone it means "everything"

- also used to indicate a ***slice*** of values

In [18]:
vacc_df.iloc[2:4] # second and third row
#vacc_df.iloc[[-1,2,22]] #a few specific rows

# Columns:
vacc_df.iloc[:,0] # first column of data frame  
vacc_df.iloc[:,[1,2]] # second column of data frame  
#vacc_df.iloc[:,-1] # last column of data frame

#Rows and columns
#vacc_df.iloc[0:5] # first five rows of dataframe
vacc_df.iloc[4:6, 0:2] # first two columns of data frame with all rows
#vacc_df.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.

      location iso_code
4  Afghanistan      AFG
5  Afghanistan      AFG

What if I want to select the 'daily_vaccinations' column, but I don't remember the column number?

Use `.loc`

`.loc` - selects subsets of rows and columns by label only. Allowed inputs are:

- A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index).

- A list or array of labels, e.g. ['a', 'b', 'c'].

- A slice object with labels, e.g. 'a':'f'.

In [19]:
vacc_df.loc[2:4,['daily_vaccinations','date']]

   daily_vaccinations        date
2              1367.0  2021-02-24
3              1367.0  2021-02-25
4              1367.0  2021-02-26

I'm missing the location. Let's add it.

In [20]:
vacc_df.loc[0:3,['location','daily_vaccinations','date']]

      location  daily_vaccinations        date
0  Afghanistan                 NaN  2021-02-22
1  Afghanistan              1367.0  2021-02-23
2  Afghanistan              1367.0  2021-02-24
3  Afghanistan              1367.0  2021-02-25

Semantics are similar to iloc. But note:

- `iloc` excludes the last element.  `df.iloc[0:1000]` will return entries 0...999
- `loc`, includes the last element.  `df.loc[0:1000]` will return entries 0...1000

you try it! What is the difference between:

> vacc_df.iloc[0:5]

> vacc_df.loc[0:5]

In [21]:
vacc_df.iloc[0:5]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003

In [22]:
vacc_df.loc[0:5]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
5,Afghanistan,AFG,2021-02-27,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003

---
### <span style="color:blue"> Exercise:</span>
>Now you: 
>
>what do you do to select:
>
>a. first five rows?
>
>b. first two columns, all rows?
>
>c. 1st and 3rd row and 2nd and 4th column?
>
>d(*). All columns but the first
---

---
A summary of the functions in this unit:

>* `.iloc` - selects rows and columns by integer location
>* `.loc` - selects rows and columns by label location

Note: indexing operators as the ones working on dictionaries, will also work in pandas. But for more advanced operations, better get used to loc and iloc.

---

<a id='section4'></a>

<a id='section4'></a>

## 3. Describe the data:

Describe the data

In [23]:
vacc_df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
count,7.622200e+04,7.299000e+04,6.951500e+04,4.472500e+04,6.272700e+04,1.720820e+05,76222.000000,72990.000000,69515.000000,44725.000000,172082.000000,1.719140e+05,171914.000000
mean,3.935564e+08,1.753959e+08,1.588340e+08,9.770116e+07,8.318720e+05,3.192376e+05,115.866899,51.218831,46.259252,33.401604,2069.901710,1.181015e+05,0.083613
std,1.466012e+09,6.489240e+08,5.946158e+08,3.349716e+08,3.373975e+06,2.043249e+06,84.415684,29.907107,29.555574,30.283335,3253.719221,8.310804e+05,0.184653
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,1.527852e+06,8.662145e+05,8.009675e+05,3.750210e+05,2.974000e+03,3.660000e+02,36.082500,24.100000,17.335000,3.820000,168.000000,6.600000e+01,0.002000
50%,1.114060e+07,5.793950e+06,5.028733e+06,3.825486e+06,2.730100e+04,4.618000e+03,114.805000,59.380000,53.520000,30.630000,813.000000,1.079000e+03,0.019000
75%,8.451849e+07,4.136261e+07,3.540830e+07,2.829246e+07,2.231870e+05,3.692350e+04,185.980000,76.850000,72.800000,55.900000,2758.000000,1.165200e+04,0.088000
max,1.347302e+10,5.609361e+09,5.155929e+09,2.785412e+09,4.967346e+07,4.369300e+07,406.430000,129.070000,126.890000,150.470000,117113.000000,2.107125e+07,11.711000

a note on e: e stands for exponent of 10, and it's always followed by another number, which is the value of the exponent

10e + 1 = 100

10e + 2 = 1000

describe categorical data:

In [24]:
vacc_df[['location']].describe()

           location
count        173399
unique          235
top     High income
freq            935

Note that in this dataset, some of the locations are not countries. For example: `High income`,`Africa`, `World`.

Count how many times each location is mentioned in the dataset

In [25]:
vacc_df[['location']].value_counts()

location
High income                        935
Europe                             935
World                              935
European Union                     933
North America                      923
                                  ...
Monaco                             357
Bosnia and Herzegovina             353
Bonaire Sint Eustatius and Saba    146
Saint Helena                        92
Falkland Islands                    67
Length: 235, dtype: int64

---
## Summary of the functions in this unit:

>* `.describe()` - View statistical information about the data
>* `value_counts` - counts how many times a certain value appears in a column